<!DOCTYPE html>
<html>
<title>flask-app-latest</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<body class="w3-light-grey">

<div class="w3-container">

  <div class="w3-card-4 w3-pink w3-display-middle" style="width:70%">

    <div class="w3-container w3-center">
      <h3>Friend Request latest</h3>
      <img src="{{ url_for('static', filename='images/img_avatar3.png') }}" alt="Avatar" style="width:20%">
      <h5>Vidyadhar S. Lambade</h5>

      <div class="w3-section">
        <button class="w3-button w3-green">Accept</button>
        <button class="w3-button w3-red">Decline</button>
      </div>
    
      <div class="w3-section">
        <form action="/log" method="post">
            <button class="w3-btn w3-round-xlarge w3-ripple w3-green" type="submit" name="log_type" value="info">INFO LOG</button> 
            <button class="w3-btn w3-round-xlarge w3-ripple w3-red" type="submit" name="log_type" value="error">ERROR LOG</button> 
            <button class="w3-btn w3-round-xlarge w3-ripple w3-purple" type="submit" name="log_type" value="warn">WARN LOG</button> 
            <button class="w3-btn w3-round-xlarge w3-ripple w3-khaki" type="submit" name="log_type" value="debug">DEBUG LOG</button>
        </form>
      </div>

    </div>

  </div>
</div>
</body>
</html>
